<div fxLayout="row" fxLayoutAlign="center center">
    <p>Currenty we are displaying Codeforces contest only</p>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="contestList">

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
    
      <!-- Type Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
    
      <!-- Phase Column -->
      <ng-container matColumnDef="phase">
        <th mat-header-cell *matHeaderCellDef> Phase </th>
        <td mat-cell *matCellDef="let element"> {{element.phase}} </td>
      </ng-container>

       <!-- StartTimeSeconds Column -->
       <ng-container matColumnDef="startTimeSeconds">
        <th mat-header-cell *matHeaderCellDef> Start Time </th>
        <td mat-cell *matCellDef="let element"> {{element.startTimeSeconds}} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="contestlistColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: contestlistColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
</div>