h1 {
    text-align: center;
}
header {
    width: 100%;
}

.nav-menu {
    width: auto;
    display: block;
    margin: 0 390px;
}

.main {
    display: block;
    max-width: 960px;
    margin: 0 auto;
}